<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 2</title>
</head>
<body>
<h3>COP4814 - Project 2</h3>

    <h1>Choose what you would like to search for</h1>

    <h2>Search for Food Recipes</h2>
<a href="{{url_for('search')}}">Recipe Search</a><br>
 <h2>Search for Popular Cocktails</h2>
<a href="{{url_for('popularCocktails')}}">Popular Cocktails</a><br>
<h2>Search for the Latest Cocktails</h2>
<a href="{{url_for('latestCocktails')}}">Latest Cocktails</a>
        </body>
</html>